@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(text-font);
}

:root {
    --heading-font: "Merriweather",serif;
    --text-font: "Kiwi Maru",serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

